<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script type="text/javascript" src="/javascripts/born.js"></script>
  </head>
  <body>
    <div id="wrapper" class="born">
      <div class="gonext" onclick="postData()"><img src="/images/next.svg"></div>
      <img src="/images/bread4.png" class="bread">

      <div class="datesbox">

        <div class="slidebar">
          <input type="range" class="rangedateY" min="1900" max="2019" step="1" value="2000" >
          <script>
            var elem1 = document.querySelector('.rangedateY');
            var rangeValue1 = function(){
              var newValue1 = elem1.value;
              var target1 = document.querySelector('.valuedateY');
              target1.innerHTML = newValue1;
            }
            elem1.addEventListener("input", rangeValue1);
          </script>
        </div>

        <div class="slidebardata">
          <p class="YMD">Y</p>
          <p class="unit"><span class="rangevalue valuedate valuedateY">2000</span></p>
        </div>

      </div>


      <div class="datesbox">

        <div class="slidebar">
          <input type="range" class="rangedateM" min="1" max="12" step="1" value="1" >
          <script>
            var elem2 = document.querySelector('.rangedateM');
            var rangeValue2 = function(){
              var newValue2 = elem2.value;
              var target2 = document.querySelector('.valuedateM');
              target2.innerHTML = newValue2;
            }
            elem2.addEventListener("input", rangeValue2);
          </script>
        </div>

        <div class="slidebardata">
          <p class="YMD M">M</p>
          <p class="unit"><span class="rangevalue valuedate valuedateM">1</span></p>
        </div>

      </div>

      <div class="datesbox">

        <div class="slidebar">
          <input type="range" class="rangedateD" min="1" max="31" step="1" value="1" >
          <script>
            var elem3 = document.querySelector('.rangedateD');
            var rangeValue3 = function(){
              var newValue3 = elem3.value;
              var target3 = document.querySelector('.valuedateD');
              target3.innerHTML = newValue3;
            }
            elem3.addEventListener("input", rangeValue3);
          </script>
        </div>

        <div class="slidebardata">
          <p class="YMD">D</p>
          <p class="unit"><span class="rangevalue valuedate valuedateD">1</span></p>
        </div>

      </div>


    </div>
  </body>
</html>
