<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script type="text/javascript" src="/javascripts/gender.js"></script>
  </head>
  <body>
    <div id="wrapper" class="gender">
        <div class="circle" onclick="postData(0)">male</div>
        <div class="circle" onclick="postData(1)">female</div>
        <img src="/images/bread1.png" class="bread">
    </div>
  </body>
</html>
