<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script type="text/javascript" src="/javascripts/gender.js"></script>
  </head>
  <body>
    <div id="discription">
      <p>本作品では、あなたの「声」を構成する情報をもとに音を作り出します。<br>順番に次の項目を質問していくので入力して右下のNextを押してください。<br><span class="asklist">性別　身長　体重　生年月日　氏名</span><br>答えたくないと感じた項目は適当な値で入力していただいても構いません。</p>
    </div>
    <div id="wrapper" class="gender">
        <div class="circle" onclick="postData(1)">male</div>
        <div class="circle" onclick="postData(2)">female</div>
        <img src="/images/bread1.png" class="bread">
        <div class="gonext" onclick="postData(0)"><img src="/images/skip.svg"></div>
    </div>
  </body>
</html>
