<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script type="text/javascript" src="/javascripts/height.js"></script>
  </head>
  <body>
    <div id="wrapper" class="height" >
      <div class="gonext" onclick="postData()"><img src="/images/next.svg"></div>

      <div class="slidebar scrollok">
        <input type="range" class="rangeheight" min="0" max="250" step="1" value="160" >
        <script>
          var elem = document.querySelector('.rangeheight');
          var rangeValue = function(){
            var newValue = elem.value;
            var target = document.querySelector('.valueheight');
            target.innerHTML = newValue;
          }
          elem.addEventListener("input", rangeValue);
        </script>
      </div>

      <div class="slidebardata">
        <p class="unit"><span class="rangevalue valueheight">160</span>cm</p>
      </div>

    </div>
  </body>
</html>
