<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- 拡大を禁止 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="wrapper" class="index">
    <a href="/gender">
      <div class="circle">
        <span>始める</span>
      </div>
    </a>
    </div>
  </body>
</html>
