<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- 拡大を禁止 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/main.js"></script>
    <script>
      localStorage.removeItem("createdAt");
    </script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="wrapper" class="index">
    <a href="/gender">
      <div class="circle">
        <p>personal<br><span class="taptostart">tap to start</span></p>
      </div>
    </a>

    <div class="logs">
      <span class="label">Logs</span>
      <% answerList.forEach(function(answerItem) { %>
      <div class="log-sound" onclick="postDataLog(<%= answerItem.id %>)">
        <p><%= answerItem.created_at %></p>
      </div>
      <% }); %>
    </div>

    <div class="stopbutton" onclick="postDataStop()"></div>
    <div class="startbutton" onclick="postDataStart()"></div>
    </div>
  </body>
</html>
