<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script type="text/javascript" src="/javascripts/name.js"></script>
  </head>
  <body>
    <div id="wrapper" class="name">
      <form action="/name" name="mainform" method="post" class="board-form-name">
        <input type="text" name="familyname" class="inputname" placeholder="FAMILYNAME" value="" onkeypress="my.onkeypress()">
        <input type="text" name="firstname" class="inputname" placeholder="FIRSTNAME" value="" onkeypress="my.onkeypress()">
      </form>

      <div class="gonext" onclick="postData()"><img src="/images/next.svg"></div>
      <img src="/images/bread5.png" class="bread">
    </div>
  </body>
</html>
