<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/weight.js"></script>
  </head>
  <body>
    <div id="wrapper" class="weight">
      <form action="/weight" name="mainform" method="post" class="board-form">
        <h1><%= title %></h1>
        <input type="text" name="weight" class="input" required><br> <br>
        <div onclick="postData()">次へ</div>
      </form>

      <div class="gonext" onclick="postData()">次へ</div>

      <div class="slidebardata">
        <p class="unit"><span class="rangevalue valueweight">30</span>kg</p>
      </div>

      <div class="slidebar">
        <input type="range" class="rangeweight" min="0" max="150" step="1" value="30" >
        <script>
          var elem = document.querySelector('.rangeweight');
          var rangeValue = function(){
            var newValue = elem.value;
            var target = document.querySelector('.valueweight');
            target.innerHTML = newValue;
          }
          elem.addEventListener("input", rangeValue);
        </script>
      </div>


    </div>
  </body>
</html>
