<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script type="text/javascript" src="/javascripts/weight.js"></script>
  </head>
  <body>
    <div id="wrapper" class="weight">

      <div class="gonext" onclick="postData()"><img src="/images/next.svg"></div>

      <div class="slidebardata">
        <p class="unit"><span class="rangevalue valueweight">30</span>kg</p>
      </div>

      <div class="slidebar">
        <input type="range" class="rangeweight" min="0" max="150" step="1" value="30" >
        <script>
          var elem = document.querySelector('.rangeweight');
          var rangeValue = function(){
            var newValue = elem.value;
            var target = document.querySelector('.valueweight');
            target.innerHTML = newValue;
          }
          elem.addEventListener("input", rangeValue);
        </script>
      </div>

    </div>
  </body>
</html>
