* {
  margin: 0 0;
  padding: 0 0;
  font:  Impact;
}

body {
  padding: 0px;
  font:  Impact;
  background-color: #232323 ;
  overflow: hidden;
  height: 100%;
}

html {
  overflow: hidden;
  height: 100%;
}

a {
  text-decoration: none;
}

#wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #232323 ;
  font:  Impact;
  opacity: 0;
  transition: 2s;
}
.show {
  opacity: 1 !important;
}

.gonext {
  position: fixed;
  width: 80px;
  bottom: 50px;
  right: 50px;
  color: red;
  cursor: pointer;
}

.gonext img {
  width: 80px;
  position: relative;
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gender {
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.height {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 70vw !important;
  padding: 0 20vw 0 10vw;
}

.weight {
  display: flex;
  align-content: space-around ;
  flex-wrap: wrap;
  height: 70vh !important;
  padding:12vh 0 18vh 0;
}

.born {
  height: 70vh !important;
  padding:12vh 0 18vh 0;
}

.circle {
  position: relative;
  width: 35vw;
  height: 35vw;
  background-color: #232323;
  border: white solid 1px;
  border-radius: 50%;
  box-shadow:0px 0px 10px #CAFFFE;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 4vw;
}

.unit{
  position: relative;
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 6em;
  color: white;
  vertical-align: bottom;
}

.rangevalue {
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  color: white;
}

.slidebardata{
  position: relative;
}

.slidebar {
  position: relative;
  display: flex;
}

.height .slidebar{
  display: block;
  width: 100vh;
  display: flex;
  justify-content: center;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.height .slidebardata{
  display: block;
  width: 100vh;
  display: flex;
  justify-content: center;
}

.rangeheight {
  width: 70vh !important;
}

.weight .slidebar{
  display: block;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.weight .slidebardata{
  display: block;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.rangeweight {
  width: 50vw !important;
  margin: 0 auto;
}


.born .slidebar{
  display: block;
  width: 35vw !important;
  display: flex;
  justify-content: center;
}

.rangedateY {
  position: absolute;
  width: 35vw !important;
  left: 0px;
  top:calc(5vh + 5px);
}

.rangedateM {
  position: absolute;
  width: 35vw !important;
  left: 0px;
  top:calc(5vh + 5px);
}

.rangedateD {
  position: absolute;
  width: 35vw !important;
  left: 0px;
  top:calc(5vh + 5px);
}

.datesbox {
  position: relative;
  width: 70vw;
  height: 10vh;
  margin: 10vh auto 10vh auto;
}

.valuedate {
  font-size: 1.2em;
}

.born .unit{
  position: absolute;
  right: 0px;
  font-size: 3em;
  font-weight: bold;
}

.born .YMD{
  position: absolute;
  right: 6em;
  font-size: 3em;
  font-weight: bold;
  color: white;
}

.born .M {
  right: 5.9em !important;
}

.inputname {
  padding: 10px 20px 10px 20px;
  width:30vw;
  height: 60px;
  box-shadow:0px 0px 10px #CAFFFE;
  outline: none;
  border: 1px solid #DDD;
  border-radius: 20px;
  font-size: 3em;
  color: #666565;
}

.board-form-name {
  width:70vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.name {
  display: flex;
  align-items: center;
}

::-webkit-input-placeholder {
    color: #DDDDDD;
}

input[type="range"] {
  position: relative;
  display: inline-block;
  -webkit-appearance: none;
  background-color: white;
  width: 60vw;
  height: 2px;
  border-radius: 5px;
  outline: 0;
}
input[type="range"]::before {
  display: inline-block;
  content: "";
  position: relative;
  top:-8px;
  width:2px;
  height: 20px;
  background-color: white;
}
input[type="range"]::after {
  display: inline-block;
  content: "";
  position: relative;
  left: 15px;
  top:-5px;
  border-top: 1vw solid white;
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #232323;
  border: white solid 1px;
  border-radius: 50%;
  box-shadow:0px 0px 10px #CAFFFE;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: .3s ease-in-out;
}​

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: white;
  border: 1px solid #e74c3c;
}

input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.6);
}
