* {
  margin: 0 0;
  padding: 0 0;
  font:  Impact;
}

body {
  padding: 0px;
  font:  Impact;
  background-color: #232323 ;
  overflow: hidden;
  height: 100%;
}

html {
  overflow: hidden;
  height: 100%;
}

a {
  text-decoration: none;
}

#wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #232323 ;
  font:  Impact;
  opacity: 0;
  transition: 2s;
  z-index: 1;
}
.show {
  opacity: 1 !important;
}

.gonext {
  position: fixed;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
  animation: staticEffectRipple2 3s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stopbutton {
  position: fixed;
  bottom: 15px;
  left: 15px;
  width: 15px;
  height: 15px;
  background-color: white;
}

.startbutton {
  position: fixed;
  bottom: 15px;
  left: 15px;
  width: 0px;
  height: 0px;
  border:13px solid transparent;
  border-left: 15px solid white;
  display: none;
}


.gonext:active{
  opacity: 0.7;
}

.gonext img {
  width: 80px;
  position: relative;
  margin: 0 0px 0 5px;
}

.bread{
  position: fixed;
  width: 80px;
  bottom: 50px;
  left: calc(50vw - 40px);
  color: red;
  cursor: pointer;
}

#discription {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,0.95);
  color: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  animation: descriptionfadeOut 12s ease ;
  animation-fill-mode: forwards;
}

.delete {
  animation: descriptionfadeOut 1s ease !important;
}

#discription p{
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
  font-family: "游明朝" ,YuMincho !important;
}

.asklist {
  line-height: 150px;
  font-size: 2.2vw;
}
.index {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gender {
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.height {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 70vw !important;
  padding: 0 20vw 0 10vw;
}

.weight {
  display: flex;
  align-content: space-around ;
  flex-wrap: wrap;
  height: 70vh !important;
  padding:12vh 0 18vh 0;
}

.born {
  height: 70vh !important;
  padding:12vh 0 18vh 0;
}

.circle {
  position: relative;
  width: 35vw;
  height: 35vw;
  background-color: #232323;
  border: white solid 1px;
  border-radius: 50%;
  box-shadow:0px 0px 10px #CAFFFE;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 4vw;
  text-align: center;
  line-height: 3.5vw;
}

.index .circle {
  animation: staticEffectRipple 3s ease infinite;
}

.circle p{
  position: relative;
  top :15px;
}

.taptostart {
  font-size: 1.2vw;
  animation: fadeInOut 3s ease infinite;
}

.unit{
  position: relative;
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 6em;
  color: white;
  vertical-align: bottom;
}

.rangevalue {
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  color: white;
}

.slidebardata{
  position: relative;
}

.slidebar {
  position: relative;
  display: flex;
}

.height .slidebar{
  display: block;
  width: 100vh;
  display: flex;
  justify-content: center;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.height .slidebardata{
  display: block;
  width: 100vh;
  display: flex;
  justify-content: center;
}

.rangeheight {
  width: 70vh !important;
}

.weight .slidebar{
  display: block;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.weight .slidebardata{
  display: block;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.rangeweight {
  width: 50vw !important;
  margin: 0 auto;
}


.born .slidebar{
  display: block;
  width: 35vw !important;
  display: flex;
  justify-content: center;
}

.rangedateY {
  position: absolute;
  width: 35vw !important;
  left: 0px;
  top:calc(5vh + 5px);
}

.rangedateM {
  position: absolute;
  width: 35vw !important;
  left: 0px;
  top:calc(5vh + 5px);
}

.rangedateD {
  position: absolute;
  width: 35vw !important;
  left: 0px;
  top:calc(5vh + 5px);
}

.datesbox {
  position: relative;
  width: 70vw;
  height: 10vh;
  margin: 10vh auto 10vh auto;
}

.valuedate {
  font-size: 1.2em;
}

.born .unit{
  position: absolute;
  right: 0px;
  font-size: 3em;
  font-weight: bold;
}

.born .YMD{
  position: absolute;
  right: 4.5em;
  font-size: 3em;
  font-weight: bold;
  color: white;
}

.born .M {
  right: 4.4em !important;
}

.inputname {
  padding: 10px 20px 10px 20px;
  width:30vw;
  height: 60px;
  box-shadow:0px 0px 10px #CAFFFE;
  outline: none;
  border: 1px solid #DDD;
  border-radius: 20px;
  font-size: 3em;
  color: #666565;
}

.board-form-name {
  width:70vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.name {
  display: flex;
  align-items: center;
}

::-webkit-input-placeholder {
    color: #DDDDDD;
}

input[type="range"] {
  position: relative;
  display: inline-block;
  -webkit-appearance: none;
  background-color: white;
  width: 60vw;
  height: 2px;
  border-radius: 5px;
  outline: 0;
}
input[type="range"]::before {
  display: inline-block;
  content: "";
  position: relative;
  top:-8px;
  width:2px;
  height: 20px;
  background-color: white;
}
input[type="range"]::after {
  display: inline-block;
  content: "";
  position: relative;
  left: 15px;
  top:-5px;
  border-top: 1vw solid white;
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #232323;
  border: white solid 1px;
  border-radius: 50%;
  box-shadow:0px 0px 10px #CAFFFE;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: .3s ease-in-out;
}​

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: white;
  border: 1px solid #e74c3c;
}

input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.6);
}



@-webkit-keyframes staticEffectRipple {
  0%{
    box-shadow:0px 0px 10px rgba(202,255,254,1);
  }
  80%{
    box-shadow:0px 0px 100px rgba(202,255,254,0.7);
  }
  100%{
    box-shadow:0px 0px 100px rgba(202,255,254,0);
  }
}

@keyframes staticEffectRipple {
  0%{
    box-shadow:0px 0px 10px rgba(202,255,254,1);
  }
  80%{
    box-shadow:0px 0px 100px rgba(202,255,254,0.7);
  }
  100%{
    box-shadow:0px 0px 100px rgba(202,255,254,0);
  }
}

@-webkit-keyframes staticEffectRipple2 {
  0%{
    box-shadow:0px 0px 10px rgba(202,255,254,1);
  }
  80%{
    box-shadow:0px 0px 100px rgba(202,255,254,0.7);
  }
  100%{
    box-shadow:0px 0px 100px rgba(202,255,254,0);
  }
}

@keyframes staticEffectRipple2 {
  0%{
    box-shadow:0px 0px 10px rgba(202,255,254,1);
  }
  80%{
    box-shadow:0px 0px 100px rgba(202,255,254,0.7);
  }
  100%{
    box-shadow:0px 0px 100px rgba(202,255,254,0);
  }
}

@-webkit-keyframes fadeInOut {
  0%{
    opacity: 0
  }
  30%{
    opacity: 1;
  }
  70%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes fadeInOut {
  0%{
    opacity: 0
  }
  30%{
    opacity: 1;
  }
  70%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@-webkit-keyframes descriptionfadeOut {
  0%{
    opacity: 1;
  }
  30%{
    opacity: 1;
  }
  70%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    display: none;
  }
}

@keyframes descriptionfadeOut {
  0%{
    opacity: 1;
  }
  30%{
    opacity: 1;
  }
  70%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    display: none;
  }
}
