* {
  margin: 0 0;
  padding: 0 0;
}

body {
  padding: 0px;
  font:  Helvetica, Arial, sans-serif;
  background-color: #232323 ;
}

a {
  text-decoration: none;
}

#wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #232323 ;
}

.gonext {
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: red;
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gender {
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.height {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 70vw !important;
  padding: 0 20vw 0 10vw;
}

.circle {
  position: relative;
  width: 35vw;
  height: 35vw;
  background-color: #232323;
  border: white solid 1px;
  border-radius: 50%;
  box-shadow:0px 0px 10px #CAFFFE;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 4vw;
}

.board-form{
  display: none;
}

.unit{
  position: relative;
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 6em;
  color: white;
  vertical-align: bottom;
}

.rangevalue {
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  color: white;
}

.slidebardata{
  position: relative;
}

.slidebar {
  position: relative;
  display: flex;
}

.height .slidebar{
  display: block;
  width: 100vh;
  display: flex;
  justify-content: center;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.height .slidebardata{
  display: block;
  width: 100vh;
  display: flex;
  justify-content: center;
}

.rangeheight {
  width: 70vh !important;
}


input[type="range"] {
  position: relative;
  display: inline-block;
  -webkit-appearance: none;
  background-color: white;
  width: 60vw;
  height: 2px;
  border-radius: 5px;
  outline: 0;
}
input[type="range"]::before {
  display: inline-block;
  content: "";
  position: relative;
  top:-8px;
  width:2px;
  height: 20px;
  background-color: white;
}
input[type="range"]::after {
  display: inline-block;
  content: "";
  position: relative;
  left: 15px;
  top:-5px;
  border-top: 1vw solid white;
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #232323;
  border: white solid 1px;
  border-radius: 50%;
  box-shadow:0px 0px 10px #CAFFFE;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: .3s ease-in-out;
}​

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: white;
  border: 1px solid #e74c3c;
}

input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.6);
}
